.userList {
    flex: 4;
    overflow: hidden;
    background: rgba(151, 167, 170, 0.6);
}

.userListUsername {
    display: flex;
    align-items: center;
}
.userListIconAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.iconContainer {
    display: flex;
    align-items: center;
}
.iconContainer a {
    padding-top: 17px;
}
.ULicon {
    margin-right: 10px;
    cursor: pointer;
}
