.createUser {
    flex: 4;
    padding: 20px;
    background: rgba(151, 167, 170, 0.6);
}

.createUser h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 20px;
}
.createUser form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.createUser form .createUserItem {
    display: flex;
    width: 400px;
    margin: 5px 10px;
    flex-direction: column;
}

.createUserItem label {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

.createUserItem input {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
    outline: none;
    transition: all 250ms;
}
.createUserItem input:focus {
    background: #98a7aa;
    color: #fff;
    font-weight: 600;
}

.genderContainer input {
    margin: 20px 2px 0 10px;
}
.genderContainer input:first-child {
    margin-left: 0;
}

.actionContainer select {
    width: 400px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

.createBtn {
    width: 400px;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
    margin: 30px 0 0 10px;
    transition: all 250ms;
}
.createBtn:hover {
    background: #98a7aa;
}
